{% extends "index.html" %}
{% block main %}
<div id="compratido">
<div id="compramain">
    <h1 style="text-align: center; margin-bottom: 65px;">Adicione Saldo Para Jogar!</h1>
    <div style="border-radius: 15px ;padding: 25px; box-shadow: 14px 11px 61px 4px rgba(0,0,0,0.59);">
        <form action="/comprarpontos" method="POST" id="reg_form">
            <Label for="valor">Quanto quer adicionar</Label>
            <div class="input-group mb-3">
                <span class="input-group-text">R$</span>
                <input id="valor" type="text" class="form-control" name="valor" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-text">.00</span>
            </div>
            <label for="pag">Escolha a Forma de Pagamento</label>
            <select class="form-select" name="forma" aria-label="Default select example">
                <option value="PIX">PIX</option>
                <option value="CREDIT_CARD">CATÃO DE DEBITO</option>
                <option value="BOLETO">BOLETO</option>
            </select>
            <div class="text-center" style="margin-top: 15px;">
                <button type="submit" style="cursor: pointer;" class="btn btn-danger">Comprar</button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}