<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Sua Página</title>
</head>
<body>

<header class="bg-success">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">Seu Logotipo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/historicoap">Apostas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/historicocompra">Historico de compra</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/historicojg">Jogos que eu criei</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/perfil">Perfil</a>
                    </li>
                </ul>
            </div>
            <a href="/criarjogo" id="btn" class="btn btn-primary ml-2">Criar Bolão</a>
            <a class="compra" href="/comprarpontos">
                <h1 id="pt">R$ {{usuario.pontos}}</h1>
            </a>
        </div>
    </nav>
</header>
<div class="container mt-5" style="margin-bottom: 20%;">
    <h2>Criar Novo Jogo</h2>

    <form action="/criarjogo" method="POST" enctype="multipart/form-data">
        <div class="form-group m1">
            <label for="nome_jogo">Nome do Jogo</label>
            <input type="text" class="form-control" id="nome_jogo" name="nomeJogo" required>
        </div>
        <div class="form-group m1">
            <label for="time1">Time 1</label>
            <input type="text" class="form-control" id="nome_jogo" name="time1" required>
        </div>
        <div class="form-group m1">
            <label for="time2">Time 2</label>
            <input type="text" class="form-control" id="nome_jogo" name="time2" required>
        </div>

        <div class="form-group m1">
            <label for="banner">Escolha um Banner para ilustrar seu jogo</label>
            <input type="file" class="form-control-file" id="banner" name="bannerJogo" accept="image/*" required>
        </div>
        <div class="form-group m1">
            <label for="banner">Data do Jogo</label>
            <input type="date" class="form-control-file" id="banner" name="dataJogo" required>
        </div>

        <button type="submit" class="btn btn-primary m1">Criar Jogo</button>
    </form>
</div>

<footer class="bg-dark text-white py-3">
    <div class="container">
        <div class="row">
            <!-- Menu Vertical -->
            <div class="col-md-4">
                <h5>Menu</h5>
                <ul class="list-unstyled">
                    <li><a href="/historicoap" class="text-white">Apostas</a></li>
                    <li><a href="/historicocompra" class="text-white">Historico de compra</a></li>
                    <li><a href="/historicojg" class="text-white">Jogos que eu criei</a></li>
                    <li><a href="/perfil" class="text-white">Perfil</a></li>
                </ul>
            </div>

            <!-- Informações da Empresa -->
            <div class="col-md-4">
                <h5>Dados Da Empresa</h5>
                <p>Empresa XYZ<br>
                    CNPJ: 123.456.789/0001-00<br>
                    Contato: contato@empresa.com</p>
            </div>

            <!-- Botão Flutuante do WhatsApp -->
            <div class="col-md-4 text-right">
                <a href="https://api.whatsapp.com/send?phone=SEUNUMERODOTELEFONE" target="_blank" class="btn btn-success btn-lg">
                    <i class="fab fa-whatsapp"></i> Fale Conosco
                </a>
            </div>
        </div>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/SEU-ID-DO-KIT-FA.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/8fdfd8f48b.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>