<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='mainbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='maibart.css')}}">
    <link rel="stylesheet" href="../static/mainbar.css">
    <link rel="stylesheet" href="../static/maibart.css">
    <title>Main page</title>
</head>
<body>
    <header>
        <div class="modelo">
              <a href="/perfil" class="imgp"><img src="{{ url_for('static', filename='transferir.png') }}" class="imgp" alt=""></a>
              <a href="/comprarpontos" class="saldo"><h1>R$ {{usuario.pontos}}</h1></a>
          
          </div>
    </header>

<div class="container" >
    <div class="title text-center">
        <h1 style="padding: 1% 0;">Veja todos os jogos que estão rolando!</h1>
        <p>jogue qualquer jogo sem medo, seu dinheiro será cuidadosamente gerenciado por nós</p>
    </div>

    <div class="row" style="margin-bottom: 50px;">
        {% for jogo in jogos %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <a href="{{url_for('jogo', id_jogo=jogo.id_jogo)}}"><img src="{{ url_for('static', filename=jogo.caminho_banner) }}" class="card-img-top" alt=""></a>
                    <div class="card-body">
                        <a href="{{url_for('jogo', id_jogo=jogo.id_jogo)}}" style="text-decoration: none; color: black;"><h1  style="padding: 5% 0;" class="card-title">{{ jogo.nome_jogo }}</h1></a>
                        <p class="card-text">Data do Jogo: {{ jogo.data_jogo }}</p>
                        <a href="{{url_for('jogo', id_jogo=jogo.id_jogo)}}" class="btn btn-success" style="background-color: #C70226;">Ver Jogo</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


<nav class="nav">
<ul class="nav__links">
<li class="nav__link active">
  <a href="/"><i class='bx bx-home-alt-2'></i></a>
</li>
<li class="nav__link">
  <a href="/conf"><i class='bx bx-user' ></i></a>
</li>




</ul>
</nav>
<a href="/criarjogo" style="font-size: 40px; padding: 1px 10px; color: #fff; background-color: #C70226; border-radius: 50%; position: fixed; top: 75%; right: 1%;"><i class="bx bx-plus"></i></a>
<script>
 const links = document.querySelectorAll('.nav__link');
const light = document.querySelector('.nav__light');


/*function moveLight({offsetLeft, offsetWidth}){
light.style.left = `${offsetLeft - offsetWidth/4}px`;
}*/

function activeLink(linkActive){
links.forEach(link => {
    link.classList.remove('active');
    linkActive.classList.add('active');
})
}


links.forEach((link) => {
link.addEventListener('click', (event) => {
    moveLight(event.target);
    activeLink(link);
})
})
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/SEU-ID-DO-KIT-FA.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/8fdfd8f48b.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
