{% extends "index.html" %}

{% block main %}
<main>
    <div class="container mt-5" style="margin-bottom: 50%;">
        <h1>Histórico de Jogos criados</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID do Jogo</th>
                    <th>Nome do jogo</th>
                    <th>Data de criação</th>
                    <th>Data do Jogo</th>
                    <th>Status</th>

                </tr>
            </thead>
            <tbody>
                {% for historico in historico_jg %}
                    <tr>
                        <td>{{ historico.id_jogo }}</td>
                        <td>{{ historico.nome_jogo }}</td>
                        <td>{{ historico.data_criacao }}</td>
                        <td>{{ historico.data_jogo }}</td>
                        <td>{{ historico.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}