{% extends "index.html" %}


{% block main %}
<div>
    <div class="container mt-5" style="margin-bottom: 50%;">
        <h1>Histórico de Jogos criados</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID do Jogo</th>
                    <th>Resultado do jogo</th>
                    <th>Data da Aposta</th>
                    <th>Valor Apostado</th>
                </tr>
            </thead>
            <tbody>
                {% for aposta in apostas %}
                    <tr>
                        <td>{{ aposta.id_jogo }}</td>
                        <td>{{ aposta.resultado }}</td>
                        <td>{{ aposta.data_jogada }}</td>
                        <td>R$ {{ aposta.valor }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock  %}

