{% extends "index.html" %}

{% block main %}
    <main style="height: 66vh;">
        <div class="container mt-5">
            <div style="display: flex; justify-content: space-between;">
            <h1>Histórico de Compra</h1>
            <a href="/webhook" style="padding: 10px; background-color:rgb(238 1 7); border-radius: 10px; color: white; text-decoration: none; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight: bold; text-align: center;">Atualizar Pagamentos</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID do Pedido</th>
                        <th>Data da Compra</th>
                        <th>Valor Total</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in historico_compra %}
                        <tr>
                            <td>{{ pedido.id_pay }}</td>
                            <td>{{ pedido.data_compra }}</td>
                            <td>{{ pedido.pontos }}</td>
                            <td>{{ pedido.status }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    {% endblock  %}