 {% extends "index.html" %} 

 {% block main %}
 <style>
    .principal {
        margin-top: 20px;
        justify-content: center;
    }
    .title1 {
        color: #C70226; /* Tom de vermelho escolhido */
        margin-top: 20px;
    }
    .data {
        font-size: 1.2em;
        color: #666;
        margin-bottom: 20px;
    }
    .container {
        padding: 20px;
        background-color: #fff; /* Fundo claro para melhor legibilidade */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra sutil para o container */
        border-radius: 5px; /* Bordas arredondadas */
    }
    .form-control {
        margin: 10px 0;
    }
    .form-inline {
        display: flex;
        gap: 10px; /* Espaço entre os inputs */
        align-items: center;
        flex-wrap: wrap; /* Responsividade no wrap */
    }
    h1 {
        font-weight: bold;
    }
</style>
</head>
<body>
<div class="principal">
    <img src="{{ url_for('static', filename=jogo.caminho_banner) }}" alt="{{ jogo.nome_jogo }} Banner" id="banner_jogo" class="img-fluid">
<div class="container">
    <h1 class="title1 display-4">{{ jogo.nome_jogo }}</h1>
    <p class="data">Data do Jogo: {{ jogo.data_jogo }}</p>
    <!-- Adicione mais informações do jogo conforme necessário -->
</div>
<div class="container">
    <form action="/jogar" method="post" id="jogar">
        <h1>Qual Será O Resultado Final?</h1>
        <div class="form-inline">
            <input type="hidden" name="id_jogo" value="{{ jogo.id_jogos }}">
            <div>
                <label for="time1">{{ jogo.time1.upper() }}</label>
                <input type="number" name="time1" class="form-control" id="time1" required>
            </div>
            <div><h1>X</h1></div>
            <div>
                <label for="time2">{{ jogo.time2.upper() }}</label>
                <input type="number" name="time2" class="form-control" id="time2" required>
            </div>
            <div>
                <label for="valor">Valor da Aposta</label>
                <input type="number" step="0.01" name="valor" class="form-control" id="valor" required>
            </div>
            <input type="submit" class="btn btn-danger" value="Jogar">
        </div>
    </form>
</div>
</div>
    {% endblock  %}