<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='mainbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='maibart.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='now.css')}}">
    <link rel="stylesheet" href="../static/mainbar.css">
    <link rel="stylesheet" href="../static/maibart.css">
    <title>Main page</title>
</head>
<body>
    <header>
        <div class="modelo" style="overflow-y: hidden;">
            <a href="/perfil" class="imgp"><img src="{{ url_for('static', filename='transferir.png') }}" class="imgp" alt=""></a>
              <a href="/comprarpontos" class="saldo" style="color: #ffffff;"><h1 style="color: #ffffff;">R$ {{usuario.pontos}}</h1></a>
          
          </div>
    </header>
    <div class="jogo_head">
        <div class="dvi">
            <img src="{{ url_for('static', filename=jogo.caminho_banner) }}" alt="{{ jogo.nome_jogo }} Banner" id="banner_jogo" class="img-fluid">
        </div>    
        <div class="Dados">
            <h1 class="title1 display-4">{{ jogo.nome_jogo }}</h1>
            <p class="data">Data do Jogo: {{ jogo.data_jogo }}</p>
            <p>Criador do Jogo: {{usuario.nome}}</p>
            <p>Valor acumulado: R${{jogo.valor_acumulado}}</p>
        </div>
    </div>
    
    <div class="container">
        <form action="/definirResultado" class="laver" method="post" id="jogar">
            <h1>Digite aqui o resultado do jogo</h1>
            <div>
                <input type="hidden" name="id_jogo" readonly value="{{ jogo.id_jogo }}">
            </div>
            <div>
                <label for="time1">{{jogo.time1.upper()}}</label>
                <input type="number" name="time1" class="form-control" id="time1" required>
            </div>
            <div>
                <h1>X</h1>
            </div>
            <div>
                <label for="time2">{{jogo.time2.upper()}}</label>
                <input type="number" name="time2" class="form-control" id="time2" required>
            </div>
            <div>
                <input type="submit" class="btn btn-primary buttom" value="Enviar">
            </div>
        </form>
    </div>

    <!-- Adicione a referência ao JavaScript do Bootstrap (opcional, mas útil em alguns casos) -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


<nav class="nav">
<ul class="nav__links">
<li class="nav__link active">
  <a href="/"><i class='bx bx-home-alt-2'></i></a>
</li>
<li class="nav__link">
  <a href="/conf"><i class='bx bx-user' ></i></a>
</li>




</ul>
</nav>
<a href="/criarjogo" style="font-size: 40px; padding: 1px 10px; color: #fff; background-color: #C70226; border-radius: 50%; position: fixed; top: 75%; right: 1%;"><i class="bx bx-plus"></i></a>
<script>
 const links = document.querySelectorAll('.nav__link');
const light = document.querySelector('.nav__light');


/*function moveLight({offsetLeft, offsetWidth}){
light.style.left = `${offsetLeft - offsetWidth/4}px`;
}*/

function activeLink(linkActive){
links.forEach(link => {
    link.classList.remove('active');
    linkActive.classList.add('active');
})
}


links.forEach((link) => {
link.addEventListener('click', (event) => {
    moveLight(event.target);
    activeLink(link);
})
})
</script>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/SEU-ID-DO-KIT-FA.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8fdfd8f48b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    </body>
    </html>