{% extends "index.html" %}

{% block main %}
<div style="display: flex; justify-content: center;">
<div style="border-radius: 15px ;padding: 25px; box-shadow: 14px 11px 61px 4px rgba(0,0,0,0.59);width: 60%; margin-top: 40px;">
        <form action="/editarPerfil" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nome</span>
                <input type="text" name="nome" value="{{usuario.nome}}" disabled class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Email</span>
                <input type="text" class="form-control" value="{{usuario.email}}" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Endereço</span>
                <input type="text" class="form-control" name="endereco" value="{{usuario.endereco}}" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">CPF</span>
                <input type="text" class="form-control" name="cpf" disabled value="{{usuario.cpf}}" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Senha</span>
                <input type="password" class="form-control" name="senha"  placeholder="Digite para alterar a senha!" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Confirmar senha</span>
                <input type="text" class="form-control" name="rsenha" placeholder="confirme a sua nova senha" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <input type="submit" style="cursor: pointer;" class="btn btn-danger" value="Alterar">
        
    </form>
</div>
</div>
{% endblock %}
