<h1>TUTORIAL DE COMO USAR NOSSA PLATAFORMA</h1>

<ul>
   <li>1° - O primeiro passo a ser seguido após criar seu registro é fazer seu depósito para que haja saldo em sua conta para a criação de jogos ou jogar em jogos já criados. É possível fazer o depósito no botão em que está descrito seu saldo.</li>
   <li>2° - O segundo passo é definir qual o seu intuito dentro da plataforma. Caso seja apenas jogar, use a tela principal para ter acesso aos jogos que estão rolando. Entre naqueles que você se sentir seguro para jogar ou que você foi convidado a jogar.</li>
   <li>3° - Caso seu intuito seja criar jogos, lembre-se de que para um jogo ser criado é preciso pagar uma taxa de R$2,00, que será descontada assim que clicar em criar jogo.</li>
   <li>4° - Divulgue ao máximo os jogos criados com seus amigos para que isso gere um retorno para você.</li>
   <li>5° - Os jogos criados por você rendem um retorno de 10%, que será depositado automaticamente após a definição de um vencedor.</li>
   <li>6° - Caso não seja definido um vencedor, 80% do valor total das apostas serão creditados em sua conta.</li>
   <li>7° - Retire seu dinheiro a qualquer momento, desde que ele esteja disponível em seu saldo para retirada.</li>
   <li>8° - Compartilhe com seus amigos e junte a galera para jogar.</li>
</ul>